<div class="content-wrapper" style="min-height: 368px">
  <div class="container pt-2">
    <div class="card m-5 p-3">
      <div class="card-header d-flex justify-content-between">
        <h3 *ngIf="!isEdit">Add Products</h3>
        <h3 *ngIf="isEdit">Edit Products</h3>
      </div>
      <div class="card-body">
        <form class="form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <input *ngIf="!isEdit" type="hidden" class="form-control" formControlName="id">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name">
            <span class="text-danger"
                  *ngIf="(productFormControl.name.touched || submitted) && productFormControl.name.errors?.required">
                                Name is required
                            </span>
          </div>
          <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" formControlName="price">
            <span class="text-danger"
                  *ngIf="(productFormControl.price.touched || submitted) && productFormControl.price.errors?.required"> price is required
            </span>
            <span class="text-danger"
                  *ngIf="productFormControl.price.touched && productFormControl.price.errors?.pattern">Enter a valid price
            </span>
          </div>
          <div class="form-group">
            <label>Select Tax</label>
            <select multiple class="form-control" formControlName="taxId" id = "taxId">
              <option value="">--Select Tax--</option>
              <option *ngFor="let tax of taxes ; let i = index" [value]="tax.id" >
                {{tax.name}}
              </option>
            </select>
            <span class="text-danger" *ngIf="(productFormControl.taxId.touched || submitted) && productFormControl.taxId.errors?.required">Tax is required</span>
          </div>

          <div class="form-group">
            <button type="submit" *ngIf="!isEdit" class="btn btn-success">Save</button>
            <button type="submit" *ngIf="isEdit" class="btn btn-success">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
